<!--The content below is only a placeholder and can be replaced.-->
<div>
    <ul class="navBar">
            <li class ="crea">zeros</li>
            <li> <i class="fa fa-home"></i>   <a routerLink="/home">Home</a>           
             </li>
            <li>  <span>&#124;</span></li>
            <li><i class="fa fa-superpowers"></i>  <a routerLink="/heroes">Heroes</a>
            </li>
            <li>  <span>&#124;</span></li>
            <li><i class="fa fa-plus"></i> <a routerLink="/suscribe">Add</a></li>
            
</ul>             
</div>


<router-outlet></router-outlet>

