#form {
    margin: auto;
    height: 600px;
    background:#111318;
    opacity: 0.6;
    margin-top:200px;
    width :500px;
    border-style: solid;
    border-width: 1px;
    border-color: #c9aa71;

}
.edit {
    list-style: none;
}